#flexcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

#InsertMemberForm{
}

#DumpMembersButton{
}

.flexchild{
    background: white;
    border-style: solid;
    border-width: medium;
    margin: 5px;
    padding: 10px 10px 10px 10px;
}

form{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

input[type=text]:hover{
    background-color: yellow;
}

input[type=submit]:hover{
    background-color: #258e25;
}

input[type=submit]{
    width: 100%;
    background-color: #2aa22a;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}

body{
    background-color: lightblue;
}

h1{
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: left;
    text-decoration: underline;
}

h3{
    text-align: center;
    text-decoration: underline;
    padding: 2px;
    margin-top: 0;
}

p{
    text-decoration: bold;
}
